body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  zoom: 1.6;
}

body [class*=MuiTableCell-paddingDefault-] {
  padding: 4px 16px;
  cursor: pointer;
}

@media all and (max-width: 460px) {
  body {
    zoom: 1.3;
  }
}
